@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: darkgray;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 62.5%;
}

main {
  width: 1440px;
  max-width: 100%;
  height: 768px;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
}

.desk__shadow, .desk__image, .desk__box {
  display: none;
}

.container {
  height: 535px;
  width: 320px;
  margin: 110px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.illustration {
  z-index: 10;
}

.ill__image {
  margin-bottom: -85px;
}

.ill__shadow {
  margin-bottom: -97px;
}

.content {
  background: #fff;
  border-radius: 20px;
  padding: 10em 10%;
}

.content h1 {
  font-size: 2rem;
  color: #4a4b5e;
  text-align: center;
  padding: .5em 0;
}

article {
  border-bottom: 1px solid #e7e7e9;
  padding: 1.5em 0;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  font-size: .8rem;
}

.question:hover {
  color: #f47c57;
}

.answer {
  display: none;
  padding-top: 1em;
  color: #787887;
  font-size: .8rem;
}

.show-answer .answer {
  display: block;
}

@media screen and (min-width: 930px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 535px;
    width: 920px;
    background: #fff;
    overflow: hidden;
    border-radius: 30px;
  }
  .mobile__shadow, .mobile__image {
    display: none;
  }
  .desk__shadow, .desk__image, .desk__box {
    display: block;
  }
  .illustration {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .ill__image .desk__image {
    width: 430px;
    margin-left: -70px;
    margin-bottom: -550px;
  }
  .ill__shadow .desk__shadow {
    width: 700px;
    margin-left: -340px;
    margin-bottom: -100px;
  }
  .box {
    position: absolute;
    top: 115px;
    left: -95px;
  }
  .box .desk__box {
    position: fixed;
  }
  .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .content h1 {
    font-size: 2.5rem;
    text-align: left;
  }
}
